* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: right;
    background-color: green;
    display: inline;   
}

head{
    color: purple;
}

body{
    text-align: center;
    background : #c3bebb;
}

img {
    width: 200px;
    height: 200px;
    background-color: lightblue;
    margin: 20px;
    padding: 17px;
    border: 8px solid darkblue;
  }